footer{
    background-color: #ebf2fa;
}
.footer-contain{
    justify-content: space-around;
}
.footer-section{
    margin-top: 0;
    margin-block: 80px;
    flex-direction: column;
    line-height: 1.8rem;
    align-items: flex-start;
}

.footer-section img{
    max-width: 200px;
}
.footer-section a{
    color: #577592;;
}
